# External Requirements:
# command line interface building:
click~=8.1.7
# documentation generation:
Sphinx
# test coverage:
coverage
# awscli for remote tasks:
awscli
# linter for code quality:
flake8
# environment variable management:
python-dotenv~=1.0.1




# Local Package:
# tells pip to install the local package in editable mode:
-e .
nle~=1.1.0
setuptools~=75.2.0
pandas~=2.2.3
seaborn